spring:
  application:
    name: market-data-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true

logging:
  level:
    root: INFO
    com.example.marketdata: DEBUG

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info

stooq:
  api:
    base-url: https://stooq.com/q/d/l/